<div class="modal fade" id="genericModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="genericModalHeader">
        <h5 class="modal-title" id="genericModalTitle">Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="genericModalBody">
        Modal content goes here.
      </div>
      <div class="modal-footer" id="genericModalFooter">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/genericModal.js') }}"></script>